* {
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

#user-form {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: teal;
}

.form-item {
    padding-right: 20px;
}

button:hover,
.restaurant-row:hover {
    cursor: pointer;
}

#restaurant-details {
    padding-bottom: 20px;
}

#restaurant-details p {
    margin-top: 0;
    padding-top: 0;
}

@media (max-width: 786px) {
    #user-form {
        flex-direction: column;
    }
}